*{
    box-sizing: border-box;
    font: 600 15px/1.2 'Noto Sans TC',"Lato", sans-serif;
    transition: 0.5s;
}
body{
    margin: 0;
    padding: 0;

}

.container{
    display: flex;
}

.nav{
    width: 366px;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    background-image: url("../Zedla_image/FLO.gif");
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    


}
.buger-link{
  display: none;
}
.logo-box{
    width: 300px;
    height: 300px;
    background-image: url('../Zedla_image/ZE1.png');
    background-size: 130%;
    background-position: center;
    margin-bottom: 20px;
    cursor: pointer;

}
.logo-box:hover{
    width: 200px;
    height: 200px;
    border-radius:100px 100px 100px 100px ;
    border: 10px solid #b99f65;
    background-image: url('../Zedla_image/ZE.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.link:hover{
box-shadow: 10px 10px 20px 0px;
border: 5px solid #b99f65;
}


.link{
    width: 200px;
    height: 100px;
    background-image: url("../Zedla_image/F.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 70% 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
    cursor: pointer;
    
}



a{
    font-size: 35px;
    text-decoration: none;
    margin-left: 38px; 
    color: #551a8b;
}

.link:hover >a{
    color: #ff0000;
    margin-left: 30px; 
}

.link-box div:nth-child(2){
    margin: 10px 0px;
}

/* 右邊大區塊 */
.main{
    width: calc(100% - 366px);
    height: 100vh;
    background-image: url("../Zedla_image/FLO.gif"),
    url("../Zedla_image/ZW1to2.jpg");
    background-size: cover,cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-area{
    width: 956px;
    height: 570px;
    transition: 0.5s;
    position: relative;
    display: flex;
    
}

.imgB{   
    width: calc(34% - 10px);
    height: 100%;
    background-image: url('../Zedla_image/ZW3.png');
    background-size: cover;
    background-position: center;
    margin: 0 5px;
    
}

.imgA{
    width: 33%;
    height: 100%;
    background-size: 500%;
    background-position: center;
    background-image: url('../Zedla_image/ZP11.png');
    background-color: #b99e659f;
}

.imgC{
    width: 33%;
    height: 100%;
    background-size: 250%;
    background-position:center -20%;
    background-image: url('../Zedla_image/ZP9.png');
    background-color: #b87171a8;
}

/* padding圖片標題 */
.imgA, .imgB, .imgC{
    padding: 5px;
    cursor: pointer;
}

/* 偽元沒辦法像上面padding一樣一起套用所以分開 */
.imgA:hover{
    box-shadow: 0px 0px 20px 0px;
    border: 10px solid #b99f65;
    background-image: url('../Zedla_image/ZP112.jpg');
}

.imgB:hover{
    box-shadow: 0px 0px 20px 0px;
    border: 10px solid #b99f65;
    /* background-size: 300%; */
    background-image: url('../Zedla_image/ZW5.jpg');
}
.imgC:hover{
    box-shadow: 0px 0px 20px 0px;
    border: 10px solid #b99f65;
    background-image: url('../Zedla_image/ZP91.jpg');

}

span{
    color: white;
    font-size: 50px;
}

.Ak{
    width: 10px;
    height: 10px;
    /* position: absolute;
    top: 0;
    left: 0%;    
    transform: translate(0%,0%);
    animation-name:KRKR;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear; */
    
}

/* @keyframes KRKR{
    0% { top: -100px; left: -100px; }
    25% { top: 100%;left:-100px;transform:scaleX(1) }
    26% { top: 100%;left:-100px;transform:scaleX(-1); }
    50% { top: 100%;left: 100%;}
    75% { top: -100px; left: 100%;transform:scaleX(-1)}
    76% { top: -100px; left: 100%;transform:scaleX(1)}
    100%{top: -100px; left: -100px; }          
}  */
.Ak:hover{
    background-image: url('../Zedla_image/ZP0.jpg');
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 60px;
}
@media (max-height:800px) {
        
    .link{
        width: 200px;
        height: 100px;
        background-image: url("../Zedla_image/F.png");
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: 60% 100%;
        text-align: center;  
        position: relative;
    }

    a{
        font-size: 30px;
        text-decoration: none;
        
    }
    .link-box div:nth-child(2){
        margin: 0px 0px;
    }
    
    
}



@media (max-width:1340px) {
    
    .pic-area{
        width: 800px;
        height: 566px;
        flex-wrap: wrap;
        
    }
    
    .imgA{
        background-size: cover;
        background-position: 0% 15%;
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }

    .imgB{
        width: calc(50% - 5px);
        height: calc(50% - 10px);
        margin: 0;
    }
    .imgC{
        background-size: cover;
        background-position: center 0%;
        width: calc(50% - 5px);
        height: calc(50% - 10px);
        margin-left: 10px;
    }

    

}

/* Pad版面 */
@media (max-width:1183px) {
    .container{
        display: flex;
        flex-direction:column;
    }

    .nav{
        
        width: 100%;
        height: 130px;
        background-color: rgb(235, 235, 235);
        flex-direction:row;
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: 0%;
        
    }

    .logo-box{
        width: 150px;
        height: 100px;
        background-image: url('../Zedla_image/ZE1.png');
        background-size:100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0%;
        /* position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%); */
    }

    .logo-box:hover{
        width: 130px;
        height: 130px;
        border-radius:100px 100px 100px 100px ;
        border: 5px solid #b99f65;
        background-image: url('../Zedla_image/ZE.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    

    .main{
        width: 100%;
        float: unset;
    }
    
    .pic-area{
        width: 70%;
        height: 650px;
    }

    .imgA{
        background-size: cover;
        background-position:center;
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }

    .imgB{
        width: calc(50% - 5px);
        height: calc(50% - 10px);
        margin: 0;
    }
    .imgC{
        background-size: cover;
        background-position: center 0%;
        width: calc(50% - 5px);
        height: calc(50% - 10px);
        margin-left: 10px;
    }


    .link{
        text-align: center;
        float: left; 
        width: 150px;
        height: 80px;
        background-image: url("../Zedla_image/F.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 75% 90%;
        /* position: relative; */
        
    }

    .link img{
        width: 30px;
        /* position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%,-50%); */
    
    }
    
    a{
        font-size: 30px;
        text-decoration: none;
        margin-left: 30px;
        /* position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(0%,-50%); */
    }
    
    .link-box div:nth-child(2){
        margin: 0px 0px;
    }

    .link:hover >a{
        margin-left: 22px; 
    }
    



}
/* cell phone */
@media (max-width:750px) {

    .nav{
        width: 100%;
        height: 80px;
        background-color: rgb(235, 235, 235);
        position: relative;
        padding:0;
        
        
    }

    .logo-box{
        width: 90px;
        height: 70px;
        background-image: url('../Zedla_image/ZE1.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);                
    }

    .logo-box:hover{
        width: 60px;
        height: 60px;
        border-radius:100px 100px 100px 100px ;
        border: 2px solid #b99f65;
        background-image: url('../Zedla_image/ZE.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 190%;
    }
    

    .main{
        width: 100%;
        height: calc(100vh - 80px);
        
    }
    
    .pic-area{
        width: 100%;
        height: 100%;
    }

    .imgA{
        width: 100%;
        height: 33%;
        margin:unset;
    }

    .imgB{
        width: 100%;
        height: 33%;
        margin: unset;
    }
    .imgC{
        width: 100%;
        height: 34%;
        margin: unset;
    }

    
    .link-box{
        width: 200px;
        height: 0px;
        background-color: #c9f9fd;
        background-image: url("../Zedla_image/ZE3.png");
        background-repeat: no-repeat;
        background-position: center 95%;
        background-size: 75%;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0%;
        transform: translate(0%,0%);
        z-index: 1;
        padding:0%;
        border-radius: 0 0 20px 0;
    }
    

    .link{
        float: none;
        margin:0 auto ;
    }

    .link-box div:nth-child(2){
        margin:15px auto 15px;
    }
    .link-box div:nth-child(1){
        margin:15px auto 0px;
    }

    .buger-link{
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(0%,-50%);
        display: block;
        width: 40px;
        height: 50px;
        background-image: url('../Zedla_image/ZE5.png');
        background-size: cover;
        background-position: center;
    }

    .buger-link:hover ~ .link-box{
        height: 400px;
        
    }

    .link-box:hover{
        height: 400px;
        
        
    }

    .Ak{
        display: none;
    }



}



